.period {
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    overflow: hidden;
    line-height: 15px;
    font-size: 11px;
}
.column {
    margin: 0;
    padding: 0;
}
.period p, .timetable-tooltip p {
    line-height: 15px;
    height: 15px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.column-header {
    border-radius: 0px;
}
.period-class-name {
    color: red;
    font-weight: bolder;
    &:hover {
        cursor: pointer;
    }
}
.period-class {
    background-color: rgba(150, 190, 234, 0.3);
}
.period-now {
    background-color: rgba(147, 237, 169, 0.3);
}
.timetable-display {
    border: 1px solid darkgray;
}
.timetable-row {
    margin: 0 -16px;
}
.timeHour {
    height: 60px;
}
.timetable-tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 1;
}
.timetable-tooltip-inner {
    max-width: 200px;
    padding: .25rem .5rem;
    color: antiquewhite;
    text-align: center;
    background-color: #16181b;
    border-radius: .25rem;
}
