{% trans_default_domain 'Installer' %}
<h4>{{ 'welcome'|trans }}</h4>
<small class="text-muted">
    {{ 'welcome.sentence.1'|trans }}<br/>
    <br/>
    {{ 'welcome.sentence.2'|trans }}<br/>
    <br/>
    {{ "welcome.sentence.3"|trans|raw }}
</small>
